<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<secure_pay>
				<!--
					2016-08-22
					Значением этой опции по умолчанию и так является true:
					@see \Df\Payment\Settings::askForBillingAddress()
					Однако здесь это значение всё равно нужно указать,
					чтобы галка была установлена для чекбокса.
				-->
				<askForBillingAddress>1</askForBillingAddress>
				<currency>order</currency>
                <forceResult>approve</forceResult>
				<log>1</log>
				<!--
					2016-08-26
					«Secure XML API Integration Guide»
					https://www.securepay.com.au/_uploads/files/Secure_XML_API_Integration_Guide.pdf
					«2.2 How to use the Test Environment»
					https://mage2.pro/t/1976/11
					https://www.concrete5.org/marketplace/addons/ecommerce-securepay-direct-post-redirect-payment-method/documentation
				-->
                <testMerchantID>ABC0001</testMerchantID>
				<testTransactionPassword>abc123</testTransactionPassword>
				<title>Bank Card</title>
				<title_backend>SecurePay</title_backend>
			</secure_pay>
		</df_payment>
        <payment>
            <dfe_secure_pay>
				<model>Dfe\SecurePay\Method</model>
            </dfe_secure_pay>
        </payment>
    </default>
</config>
