<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
	<default>
		<df_payment>
			<secure_pay>
				<currency>order</currency>
				<forceResult>approve</forceResult>
<!-- 2017-08-13
*) Param name: `EPS_REFERENCEID`
*) Param type and limitations: «String, min length 1, max length 60»
*) Reference: Part 5.1.1.4 «Payment Reference». (page 25) of the PDF documentation
(«Direct Post Integration Guide», Version 1.4, 2017-02-28): https://mage2.pro/t/4271
@see \Dfe\SecurePay\Charge::k_RequestId() https://github.com/mage2pro/securepay/blob/1.5.15/Charge.php#L15-L30
-->
				<identification_rules>
					<max_length>60</max_length>
				</identification_rules>
				<log>1</log>
<!-- 2016-08-22
Значением этой опции по умолчанию и так является true: @see \Df\Payment\Settings::requireBillingAddress()
Однако здесь это значение всё равно нужно указать, чтобы галка была установлена для чекбокса.
-->
				<requireBillingAddress>1</requireBillingAddress>
<!-- 2016-08-26
«Secure XML API Integration Guide», Version 1.2 (2016-12-01),
Chapter 2.2 «How to use the Test Environment» (page 5): https://mage2.pro/t/4270
https://mage2.pro/t/1976/11
https://www.concrete5.org/marketplace/addons/ecommerce-securepay-direct-post-redirect-payment-method/documentation
-->
				<testMerchantID>ABC0001</testMerchantID>
				<testTransactionPassword>abc123</testTransactionPassword>
				<title>Bank Card</title>
				<title_backend>SecurePay</title_backend>
			</secure_pay>
		</df_payment>
		<payment>
			<dfe_secure_pay>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\SecurePay\Method</model>
			</dfe_secure_pay>
		</payment>
	</default>
</config>
