<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_payment'>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
            <group
                id='secure_pay'
                translate='label'
                type='text'
                sortOrder='1905'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>SecurePay</label>
				<dfExtension>Dfe\SecurePay\Ext</dfExtension>
				<frontend_model>Df\Config\Block\System\Config\Form\Fieldset\Ext</frontend_model>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Form\Element\Enable'
                    sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
                >
                    <label>Enable?</label>
					<backend_model>Df\Framework\Form\Element\Enable\Backend</backend_model>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/securepay' target='_blank'>SecurePay</a>» payment extension?]]></comment>
                </field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1991' target='_blank'>The test bank card</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='forceResult'
					translate='label'
					type='select'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Force the payment transactions result?</label>
					<source_model>Dfe\SecurePay\Source\ForceResult</source_model>
					<comment><![CDATA[SecurePay approves a test transaction only if the payment amount ends in 00, 08, 11 or 16.
<br/>SecurePay declines a test transaction in all the other cases.
<br/>If you choose the «<b>Approve</b>» value, then the payment amounts will be adjusted, so they will end in <b>00</b>.
<br/>If you choose the «<b>Decline</b>» value, then the payment amounts will be adjusted, so they will end in <b>01</b>.
<br/>If you choose the «<b>No</b>» value, then the payment amounts will not be changed, and a transaction will be approveds or declined depend on its payment amount.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveMerchantID'
					translate='label'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Merchant ID</label>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveTransactionPassword'
					translate='label'
					type='obscure'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Transaction Password</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
			</group>
        </section>
    </system>
</config>